<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	 xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util-4.2.xsd   
    	http://www.springframework.org/schema/tx   
    	http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
	">
	
	
	
	<!-- 引入配置文件 -->
	<!-- 使用方法详解：http://blog.csdn.net/wandong01/article/details/48243325 -->
	<util:properties id="jdbcConfig" location="classpath:config/jdbc.properties" />
	
	<!--  数据源  使用阿里Druid数据源  也可以用其它数据源。destroy-method="close"的作用是当数据库连接不使用的时候,就把该连接重新放到数据池中,方便下次使用调用 -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
		<!-- 基本属性 url、user、password -->
		<property name="url" value="#{jdbcConfig.url}"></property>
		<property name="driverClassName" value="#{jdbcConfig.driverClassName}"></property>
		<property name="username" value="#{jdbcConfig.username}"></property>
		<property name="password" value="#{jdbcConfig.password}"></property>
		
		<!-- 配置初始化大小、最小、最大 -->
		<property name="maxActive" value="20" />
		<property name="initialSize" value="4" />
		<property name="maxWait" value="60000" />
		<property name="minIdle" value="1" />
		
		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
		<property name="timeBetweenEvictionRunsMillis" value="60000" />
		
		<!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
      	<property name="minEvictableIdleTimeMillis" value="300000" />
      	
      	<!-- 打开PSCache，并且指定每个连接上PSCache的大小 -->
      	 <!-- mysql 不支持 poolPreparedStatements-->
		<property name="poolPreparedStatements" value="true" />
		<property name="maxPoolPreparedStatementPerConnectionSize" value="50" />
		
		<!-- 开启Druid的监控统计功能 -->    
        <property name="filters" value="stat" />
	</bean> 
</beans>