<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.test.crm.mapper.LinkManMapper">
	
	<select id="selectBycusId" parameterType="List"
		resultType="com.test.crm.entity.LinkMan">
		select 
			* 
		from 
			t_customer_linkman 
		where 
			cusId = #{cusId}
	</select>
	
	<!-- 添加联系人 -->
	<insert id="addLinkMan" parameterType="com.test.crm.entity.LinkMan">
		INSERT INTO t_customer_linkman
			(cusId, linkName, sex, zhiwei, officePhone, phone)
		VALUES
			(#{cusId},#{linkName},#{sex},#{zhiwei},#{officePhone},#{phone})
	</insert>
	
	<!-- 删除联系人 -->
	<delete id="deleteLinkMan" parameterType="com.test.crm.entity.LinkMan">
		delete from
			t_customer_linkman
		where
			id = #{id}
	</delete>

	<!-- 更新联系人 -->
	<update id="updateLinkMan" parameterType="com.test.crm.entity.LinkMan">
		update
			t_customer_linkman
		set
			linkName=#{linkName}, sex=#{sex}, zhiwei=#{zhiwei}, officePhone=#{officePhone}, phone=#{phone}
		where
			id = #{id}
	</update>
	
</mapper>